body {
    margin: 0;
}

.game_title {
    font-size: 16px;
}

.bar {}

.dot {
    stroke: #0000;
    stroke-width: 10px;
}

.tooltip {
    position: absolute;
    background-color: white;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
}